<!DOCTYPE html>
<html>
    <head>
        <title>WhatsApp Analyzer</title>
        <link rel="stylesheet" type="text/css" href="./static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./static/css/keen-dashboards.css" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript" src="./static/libs/js/jquery.min.js"></script>
        <script type="text/javascript" src="./static/libs/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./static/libs/js/d3.min.js"></script>
        <script type="text/javascript" src="./static/libs/js/d3.tip.js"></script>
        <script type="text/javascript" src="./static/libs/js/d3.layout.cloud.js"></script>
        <script type="text/javascript" src="./static/js/stats.js"></script>
        <script type="text/javascript">
            readFile({{ data|safe }});
        </script>
        <style>
            body {
            font-size: 15px;
            font-family: Myriad Pro;
            font-style: none;
            }
            .axis path,
            .axis line {
            fill: none;
            stroke: #A0A0A0;
            shape-rendering: crispEdges;
            }
            .line {
            fill: none;
            stroke-width: 1px;
            }
            .line {
            stroke: #4682B8;
            }
            .grid {
            stroke: #E6E6E6;
            }
            .y.axis path {
            display: none;
            }
            .axis text {
            font-size: 6px;
            }
            .label text, .chart-text {
            font-size: 8px;
            }
            .legend text, .axis {
            font-size: 14px;    
            }
            .front-bar {
            fill: #00CDF2;
            }
            .back-bar {
            fill: #EBEBEB;
            }
        </style>
    </head>
    <body class="application">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <span class="title" style="pointer-events: all;"><a href="/">Whatsapp Analyzer</a></span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Activity Graph
                        </div>
                        <div class="chart-stage">
                            <div id="group-activity"></div>
                        </div>
                        <div class="chart-notes">
                            Graph based on message activity in the converstaion.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        Tag Cloud
                                    </div>
                                    <div class="chart-stage">
                                        <div id="tag-cloud"></div>
                                    </div>
                                    <div class="chart-notes">
                                        Tag cloud of most used words in the conversation.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        Message count
                                    </div>
                                    <div class="chart-stage">
                                        <div id="message-share"></div>
                                    </div>
                                    <div class="chart-notes">
                                        If its a group converstation with 10+ memebers, the Top 10 is listed above.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        Media Share
                                    </div>
                                    <div class="chart-stage">
                                        <div id="media-share"></div>
                                    </div>
                                    <div class="chart-notes">
                                        Seems like a lot of media being shared..!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Champion Board
                            </div>
                            <div class="chart-stage">
                                <div id="group-spotlight">
                                    <h3>SPOTLIGHT</h3>
                                    <ul class="group-spotlight">
                                        <li class="activeDate">
                                            <div class="graph-sec">
                                                <span class="stat-title">Most Active Date - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                        <li class="activeDay">
                                            <div class="graph-sec">
                                                <span class="stat-title">Most Active Day - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                        <li class="activeHour">
                                            <div class="graph-sec">
                                                <span class="stat-title">Active Hour of Day - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                        <li class="messageRate">
                                            <div class="graph-sec">
                                                <span class="stat-title">Average number of Messages per Day - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                        <li class="mediaFreek">
                                            <div class="graph-sec">
                                                <span class="stat-title">The Media share Freak - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                        <li class="silentSpectator">
                                            <div class="graph-sec">
                                                <span class="stat-title">The Silent Spectator - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                        <li class="theTalker">
                                            <div class="graph-sec">
                                                <span class="stat-title">The Talker - </span>
                                                <span class="stat-value"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>